   <div class="text-center">
<% if current_user %>

   	<h1>mein profil</h1>

 <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" class="rounded float-left" alt="Italian Trulli" width="190" height="190" >
 <h1>Hello  <%= current_user.username %></h1>
<button type="button" class="btn btn-info">Info</button>





<% end %>

</div>
